div {
  background-color: crimson;
}

img {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: yellow;

  width: 400px;
  height: 300px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}